<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div>
            <ol>
                <li>
                    <% users.forEach(({results.name}) => {%>
                        <li><%= name %></li> 
                     <%}) %> 
                </li>
            </ol>
        </div>
    </body>
</html>