<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Random</title>
    </head>
    <body>
        <div>
            <header>Random Profiles</header>

            <div>
                <% users.forEach((ele)=>{ %>
                    <div>
                    <img src= <%= ele[0] %> class="profile-pic" alt="...">
                    <h2 class=""> <%= `${ele[1]} ${ele[2]}` %> </h5>
                    </div>
                <%})%>
            </div>
        </div>
        <div>
            <%- include('../partials/footer') %>
        </div>
    </body>
</html>